<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiawa.train.business.mapper.ConfirmOrderMapper">
  <resultMap id="BaseResultMap" type="com.jiawa.train.business.domain.ConfirmOrder">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="member_id" jdbcType="BIGINT" property="memberId" />
    <result column="date" jdbcType="DATE" property="date" />
    <result column="train_code" jdbcType="VARCHAR" property="trainCode" />
    <result column="start" jdbcType="VARCHAR" property="start" />
    <result column="end" jdbcType="VARCHAR" property="end" />
    <result column="daily_train_ticket_id" jdbcType="BIGINT" property="dailyTrainTicketId" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.jiawa.train.business.domain.ConfirmOrder">
    <result column="tickets" jdbcType="LONGVARCHAR" property="tickets" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, member_id, `date`, train_code, `start`, `end`, daily_train_ticket_id, `status`, 
    create_time, update_time
  </sql>
  <sql id="Blob_Column_List">
    tickets
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.jiawa.train.business.domain.ConfirmOrderExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from confirm_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.jiawa.train.business.domain.ConfirmOrderExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from confirm_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from confirm_order
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from confirm_order
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.jiawa.train.business.domain.ConfirmOrderExample">
    delete from confirm_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jiawa.train.business.domain.ConfirmOrder">
    insert into confirm_order (id, member_id, `date`, 
      train_code, `start`, `end`, 
      daily_train_ticket_id, `status`, create_time, 
      update_time, tickets)
    values (#{id,jdbcType=BIGINT}, #{memberId,jdbcType=BIGINT}, #{date,jdbcType=DATE}, 
      #{trainCode,jdbcType=VARCHAR}, #{start,jdbcType=VARCHAR}, #{end,jdbcType=VARCHAR}, 
      #{dailyTrainTicketId,jdbcType=BIGINT}, #{status,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{tickets,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jiawa.train.business.domain.ConfirmOrder">
    insert into confirm_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="memberId != null">
        member_id,
      </if>
      <if test="date != null">
        `date`,
      </if>
      <if test="trainCode != null">
        train_code,
      </if>
      <if test="start != null">
        `start`,
      </if>
      <if test="end != null">
        `end`,
      </if>
      <if test="dailyTrainTicketId != null">
        daily_train_ticket_id,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="tickets != null">
        tickets,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="memberId != null">
        #{memberId,jdbcType=BIGINT},
      </if>
      <if test="date != null">
        #{date,jdbcType=DATE},
      </if>
      <if test="trainCode != null">
        #{trainCode,jdbcType=VARCHAR},
      </if>
      <if test="start != null">
        #{start,jdbcType=VARCHAR},
      </if>
      <if test="end != null">
        #{end,jdbcType=VARCHAR},
      </if>
      <if test="dailyTrainTicketId != null">
        #{dailyTrainTicketId,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tickets != null">
        #{tickets,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jiawa.train.business.domain.ConfirmOrderExample" resultType="java.lang.Long">
    select count(*) from confirm_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update confirm_order
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.memberId != null">
        member_id = #{record.memberId,jdbcType=BIGINT},
      </if>
      <if test="record.date != null">
        `date` = #{record.date,jdbcType=DATE},
      </if>
      <if test="record.trainCode != null">
        train_code = #{record.trainCode,jdbcType=VARCHAR},
      </if>
      <if test="record.start != null">
        `start` = #{record.start,jdbcType=VARCHAR},
      </if>
      <if test="record.end != null">
        `end` = #{record.end,jdbcType=VARCHAR},
      </if>
      <if test="record.dailyTrainTicketId != null">
        daily_train_ticket_id = #{record.dailyTrainTicketId,jdbcType=BIGINT},
      </if>
      <if test="record.status != null">
        `status` = #{record.status,jdbcType=CHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.tickets != null">
        tickets = #{record.tickets,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update confirm_order
    set id = #{record.id,jdbcType=BIGINT},
      member_id = #{record.memberId,jdbcType=BIGINT},
      `date` = #{record.date,jdbcType=DATE},
      train_code = #{record.trainCode,jdbcType=VARCHAR},
      `start` = #{record.start,jdbcType=VARCHAR},
      `end` = #{record.end,jdbcType=VARCHAR},
      daily_train_ticket_id = #{record.dailyTrainTicketId,jdbcType=BIGINT},
      `status` = #{record.status,jdbcType=CHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      tickets = #{record.tickets,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update confirm_order
    set id = #{record.id,jdbcType=BIGINT},
      member_id = #{record.memberId,jdbcType=BIGINT},
      `date` = #{record.date,jdbcType=DATE},
      train_code = #{record.trainCode,jdbcType=VARCHAR},
      `start` = #{record.start,jdbcType=VARCHAR},
      `end` = #{record.end,jdbcType=VARCHAR},
      daily_train_ticket_id = #{record.dailyTrainTicketId,jdbcType=BIGINT},
      `status` = #{record.status,jdbcType=CHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jiawa.train.business.domain.ConfirmOrder">
    update confirm_order
    <set>
      <if test="memberId != null">
        member_id = #{memberId,jdbcType=BIGINT},
      </if>
      <if test="date != null">
        `date` = #{date,jdbcType=DATE},
      </if>
      <if test="trainCode != null">
        train_code = #{trainCode,jdbcType=VARCHAR},
      </if>
      <if test="start != null">
        `start` = #{start,jdbcType=VARCHAR},
      </if>
      <if test="end != null">
        `end` = #{end,jdbcType=VARCHAR},
      </if>
      <if test="dailyTrainTicketId != null">
        daily_train_ticket_id = #{dailyTrainTicketId,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tickets != null">
        tickets = #{tickets,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.jiawa.train.business.domain.ConfirmOrder">
    update confirm_order
    set member_id = #{memberId,jdbcType=BIGINT},
      `date` = #{date,jdbcType=DATE},
      train_code = #{trainCode,jdbcType=VARCHAR},
      `start` = #{start,jdbcType=VARCHAR},
      `end` = #{end,jdbcType=VARCHAR},
      daily_train_ticket_id = #{dailyTrainTicketId,jdbcType=BIGINT},
      `status` = #{status,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      tickets = #{tickets,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jiawa.train.business.domain.ConfirmOrder">
    update confirm_order
    set member_id = #{memberId,jdbcType=BIGINT},
      `date` = #{date,jdbcType=DATE},
      train_code = #{trainCode,jdbcType=VARCHAR},
      `start` = #{start,jdbcType=VARCHAR},
      `end` = #{end,jdbcType=VARCHAR},
      daily_train_ticket_id = #{dailyTrainTicketId,jdbcType=BIGINT},
      `status` = #{status,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>