<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiawa.train.business.mapper.DailyTrainMapper">
  <resultMap id="BaseResultMap" type="com.jiawa.train.business.domain.DailyTrain">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="date" jdbcType="DATE" property="date" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="type" jdbcType="CHAR" property="type" />
    <result column="start" jdbcType="VARCHAR" property="start" />
    <result column="start_pinyin" jdbcType="VARCHAR" property="startPinyin" />
    <result column="start_time" jdbcType="TIME" property="startTime" />
    <result column="end" jdbcType="VARCHAR" property="end" />
    <result column="end_pinyin" jdbcType="VARCHAR" property="endPinyin" />
    <result column="end_time" jdbcType="TIME" property="endTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, `date`, code, `type`, `start`, start_pinyin, start_time, `end`, end_pinyin, end_time, 
    create_time, update_time
  </sql>
  <select id="selectByExample" parameterType="com.jiawa.train.business.domain.DailyTrainExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from daily_train
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from daily_train
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from daily_train
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.jiawa.train.business.domain.DailyTrainExample">
    delete from daily_train
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jiawa.train.business.domain.DailyTrain">
    insert into daily_train (id, `date`, code, `type`, 
      `start`, start_pinyin, start_time, 
      `end`, end_pinyin, end_time, 
      create_time, update_time)
    values (#{id,jdbcType=BIGINT}, #{date,jdbcType=DATE}, #{code,jdbcType=VARCHAR}, #{type,jdbcType=CHAR}, 
      #{start,jdbcType=VARCHAR}, #{startPinyin,jdbcType=VARCHAR}, #{startTime,jdbcType=TIME}, 
      #{end,jdbcType=VARCHAR}, #{endPinyin,jdbcType=VARCHAR}, #{endTime,jdbcType=TIME}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.jiawa.train.business.domain.DailyTrain">
    insert into daily_train
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="date != null">
        `date`,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="start != null">
        `start`,
      </if>
      <if test="startPinyin != null">
        start_pinyin,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="end != null">
        `end`,
      </if>
      <if test="endPinyin != null">
        end_pinyin,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="date != null">
        #{date,jdbcType=DATE},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=CHAR},
      </if>
      <if test="start != null">
        #{start,jdbcType=VARCHAR},
      </if>
      <if test="startPinyin != null">
        #{startPinyin,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIME},
      </if>
      <if test="end != null">
        #{end,jdbcType=VARCHAR},
      </if>
      <if test="endPinyin != null">
        #{endPinyin,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIME},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jiawa.train.business.domain.DailyTrainExample" resultType="java.lang.Long">
    select count(*) from daily_train
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update daily_train
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.date != null">
        `date` = #{record.date,jdbcType=DATE},
      </if>
      <if test="record.code != null">
        code = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null">
        `type` = #{record.type,jdbcType=CHAR},
      </if>
      <if test="record.start != null">
        `start` = #{record.start,jdbcType=VARCHAR},
      </if>
      <if test="record.startPinyin != null">
        start_pinyin = #{record.startPinyin,jdbcType=VARCHAR},
      </if>
      <if test="record.startTime != null">
        start_time = #{record.startTime,jdbcType=TIME},
      </if>
      <if test="record.end != null">
        `end` = #{record.end,jdbcType=VARCHAR},
      </if>
      <if test="record.endPinyin != null">
        end_pinyin = #{record.endPinyin,jdbcType=VARCHAR},
      </if>
      <if test="record.endTime != null">
        end_time = #{record.endTime,jdbcType=TIME},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update daily_train
    set id = #{record.id,jdbcType=BIGINT},
      `date` = #{record.date,jdbcType=DATE},
      code = #{record.code,jdbcType=VARCHAR},
      `type` = #{record.type,jdbcType=CHAR},
      `start` = #{record.start,jdbcType=VARCHAR},
      start_pinyin = #{record.startPinyin,jdbcType=VARCHAR},
      start_time = #{record.startTime,jdbcType=TIME},
      `end` = #{record.end,jdbcType=VARCHAR},
      end_pinyin = #{record.endPinyin,jdbcType=VARCHAR},
      end_time = #{record.endTime,jdbcType=TIME},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jiawa.train.business.domain.DailyTrain">
    update daily_train
    <set>
      <if test="date != null">
        `date` = #{date,jdbcType=DATE},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=CHAR},
      </if>
      <if test="start != null">
        `start` = #{start,jdbcType=VARCHAR},
      </if>
      <if test="startPinyin != null">
        start_pinyin = #{startPinyin,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIME},
      </if>
      <if test="end != null">
        `end` = #{end,jdbcType=VARCHAR},
      </if>
      <if test="endPinyin != null">
        end_pinyin = #{endPinyin,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIME},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jiawa.train.business.domain.DailyTrain">
    update daily_train
    set `date` = #{date,jdbcType=DATE},
      code = #{code,jdbcType=VARCHAR},
      `type` = #{type,jdbcType=CHAR},
      `start` = #{start,jdbcType=VARCHAR},
      start_pinyin = #{startPinyin,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=TIME},
      `end` = #{end,jdbcType=VARCHAR},
      end_pinyin = #{endPinyin,jdbcType=VARCHAR},
      end_time = #{endTime,jdbcType=TIME},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>